thead {
  border-radius: $border-radius;
  background-color: rgba($color: #4c6b9a, $alpha: 16%);

  tr {
    padding-block-start: 10px;

    th {
      border-inline-start: 1px solid white;
      color: rgba($color: $secondary, $alpha: 10%) !important;
      font-size: 16px;
      font-weight: 800;
    }
  }
}

tbody {
  tr {
    transition: all ease-in-out 0.3s;

    &:hover {
      background-color: rgba($color: $secondary, $alpha: 10%) !important;
    }
  }
}

.table {
  border-radius: $border-radius;

  // margin-block-start: 20px;
}

.v-table th {
  color: $secondary !important;
}
